<div class="row">
  <center>
    <!-- Left side (burger choices) -->
    <div class="col-md-6">
      <h4 class="green_font">Burger Choices</h4>
      <div id="burger_choices">

        <!-- Burger Choices -->
        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success ear_this-button" type="submit">Eat This Burger!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <!-- Right side (already eaten) -->
    <div class="col-md-6">
      <h4 class="green_font">In Your Belly</h4>
      <div id="already_eaten">

        <!-- Dynamically Insert Eaten Burgers Here -->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </center>
</div>